@charset "utf-8";

body {min-width:1300px;max-width: 1920px;margin:0 auto;}
#header  {position:absolute;width:100%; height:130px; z-index:999;}
#header_content {width:1300PX;height:130px; margin:0 auto;}
#header_content .logo {position:absolute; top:33px; left:0;z-index:1000;}
#header_content .logo a{display:inline-block;}




/* gnb */
#gnb {position:relative;top:0; height:130px;display: flex;}
#gnb ul {display:flex;justify-content:flex-end; width:1300px; margin: 0 auto;text-align:center; align-items: center;}
#gnb ul:after {content:" "; display:block; clear:both;}
#gnb ul li {height:130px;line-height:130px;margin: 0 0 0 50px; text-align:center; box-sizing:border-box;position:relative;}
#gnb ul li > a {display:block; color:#ffffff; font-size:19px;font-weight: 900;}
#gnb ul li:hover > a  {color:#ffa5c8;}
#gnb ul li:hover .submenu { display:block;}

#gnb ul li .submenu {display:none;position:absolute; top:100px; left:50%; width:250px; margin-left:-125px; line-height:40px;  padding:20px 0;animation:menuDown 0.3s linear;
	background: rgb(124,29,146);
	background: linear-gradient(325deg, rgba(124,29,146,1) 0%, rgba(235,38,115,0.9) 100%);
	border-radius:5px;
	-webkig-border-radius:5px;
	-moz-border-radius:5px;

}
#gnb ul li .submenu a {display:block;color:#fff; font-size:17px;letter-spacing:-0.04em;}
#gnb ul li .submenu a:hover, #gnb ul li .submenu a:focus {color:#ffcee1;}

@keyframes menuDown{
	0% {
        opacity:0; 
		margin-left:-145px;
    }

    100% {
        opacity:1; 
		margin-left:-125px;
    }
}


/** mobile_none **/
.mobile_top {display:none;}
.tops {display:none;}
#nav {display:none;}


#mainvisual {position:relative;z-index:1; width:100%; height:860px; background:url('../img/main/mainvisual.png') center 0 no-repeat;}
#mainvisual  .main_txt {width:1300px; margin:0 auto;position:relative; top:200px;}
#mainvisual  .main_txt_in {width:650px; text-align: center;}
#mainvisual  .main_txt_in h2{margin:0 0 20px 0;}
#mainvisual  .main_txt_in > h3{font-size:24px; color:#fff; letter-spacing: 0.23em;margin:0 0 30px 0;}
#mainvisual  .main_txt_in > .date{color:#fff;line-height:40px;font-size: 28px; font-weight: 600;text-align: center; padding:0 0 50px;}
#mainvisual  .main_txt_in > .date .pink{ color:#fa77a9;font-size: 36px; font-weight: 900;}


#mainvisual .main_txt .ob_img {position:absolute; top:-200px; right:0;}


#container {width:100%; }




/* section01 */
.section01 {width:100%; position:relative;margin:-190px auto 0;padding:250px 0 100px;background:url('../img/main/sec01_bg.jpg') center center no-repeat;background-size:cover;}
.section01 .sec01_in {width:1300px; margin: 0 auto;}
.section01 h3 {text-align: center;font-size:34px; color:#81109a;padding:0 0 25px 0;font-weight: 900;;}
.section01 .txt{font-size:17px; line-height:27px;color:#111111;text-align: center;padding:0 0 50px 0;}
.section01 .txt b{font-size:20px;}
.section01 .hostbox {display:flex;justify-content: center;align-items: center;margin:30px 0 0 0;}
.section01 .hostbox span.tit{ display:inline-block; padding:5px 0; width:120px; text-align:center;background-color: #f0f0f0;color:#81109a;font-size:15px;font-weight: 900;
	border-radius:40px;
	-webkit-border-radius:40px;
	-moz-border-radius:40px;
	margin:0 30px 0 0 ;
}
.section01 .hostbox span.logobox {margin:0 50px 0 0;}

.section01 .overview {margin:0 auto 80px;width:850px;}
.section01 .overview li{margin:5px 0;display:flex;align-items:center;font-size:20px; font-weight:600; color:#111;line-height:45px;letter-spacing: -0.02em;}
.section01 .overview li span{display:inline-block; width:170px; height:40px; line-height: 40px; font-size:16px;text-align: center; border-radius:40px;background-color:#81109a;color:#fff;font-weight: 900;margin-right:40px;}
.section01 .overview li:nth-child(odd) span {background-color:#ee508c;}
.section01 .overview li p{width:calc(100% - 210px);word-break: keep-all;}


.section01  .free {width:510px; height:auto; box-sizing:border-box; position:absolute;z-index:1;top:-120px;padding:8px;margin-left:70px;
	background: rgb(255,13,75);
	background: linear-gradient(345deg, rgba(255,13,75,1) 0%, rgba(249,201,34,1) 100%);
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
	-webkit-box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
	-moz-box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}

.section01 .free .free_in{background-color:#fff;padding:25px 20px 10px;}
.section01 .free .free_in .tit{position:absolute;top:-50px; left:-64px;animation: shake .5s infinite alternate;}


@keyframes shake {
	from {
		transform:rotate(-3deg);
	}
  
	to {
		transform:rotate(0);
	}
  }


.section01 .free .free_in h3{width:100%;text-align: center;font-size: 26px; color:#ff004b; font-weight:900;letter-spacing: -0.01em;padding:15px 0;
	background:url('../img/main/free_st.png') 100% 0 no-repeat;
}
.section01 .free .free_in ul li {position:relative;padding:0 5px; border-bottom:1px solid #ddd;text-align:left;height:75px;line-height:75px;font-size:20px;font-weight:900;color:#000;}
.section01 .free .free_in ul li:last-child{bordeR:none;}
.section01 .free .free_in ul li b{color:#ff004b;}
.section01 .free .free_in ul li .date {display:inline-block;width:85px; height: 23px; line-height: 23px; background-color:#ff004b;
	text-align:center;margin:0 15px 0 0;color:#fff;font-size:17px;
	border-radius: 23px;
	-webkit-border-radius: 23px;
	-moz-border-radius: 23px;
}
.section01 .free .free_in ul li .icon {position:absolute; top:12px; right:20px;}



/* section02 */
.section02 {width:100%;height:130px; background:url('../img/main/sec012_bg.jpg') center 0 repeat-y;}
.section02 .sec02_in {width:1300px; margin:0 auto; height:130px; display:flex;}
.section02 .sec02_in a{display:block; position:relative;width:50%;line-height:130px;color:#fff;font-size:30px; font-weight:900;box-sizing:border-box;padding:0 30px;}
.section02 .sec02_in a .cbox{position:absolute; top:30px; right:60px;width:72px;height:72px;line-height: 72px;background:url('../img/main/btn_circle.png') center center no-repeat;
	text-align: center;font-size:20px;color:#81109a;
}
.section02 .sec02_in a .cbox .arrow {position:Absolute;top:27px;right:-22px;
	transition: all 0.3s ease;
	-moz-transition: all 0.3s ease; /* Firefox 4 */
	-webkit-transition: all 0.3s ease; /* Safari and Chrome */
	-o-transition: all 0.3s ease; /* Opera */
}
.section02 .sec02_in a.btn02 .cbox  {color:#ee508c;}
.section02 .sec02_in a:hover .cbox .arrow {right:-30px;}



/* section03 */
.section03 {width:100%;background:url('../img/main/sec02_bg.jpg') center center no-repeat; background-size: cover;;}
.section03 .hotel { position:relative; z-index:1; width:1300px; height:470px;margin:0 auto;padding:60px 0;display:flex;}
.section03 .hotel .img {margin-right:50px;}
.section03 .hotel .info {padding:40px 0 0 0;}
.section03 .hotel .info h4 {font-size:25px; color:#a78acb;}
.section03 .hotel .info h4:after {content:"";display:block; width:120px; height:1px; background-color:rgba(255,255,255,0.3);margin:10px 0 30px;}
.section03 .hotel .info h3 {font-size:34px; color:#fff;line-height: 34px; margin:0 0 25px 0;;}
.section03 .hotel .info p {font-size: 16px; line-height: 27px; color:#fff;;}
.section03 .hotel .info .btns {display: flex;margin:30px 0 0 ;}
.section03 .hotel .info .btns a {display:block; width:195px; height:50px; line-height: 50px; box-sizing: border-box; bordeR:1px solid #fff; 
		padding:0 30px; font-size:16px; color:#fff; position:relative;margin:0 15px 0 0;
		border-radius: 50px;
		-webkit-border-radius: 50px;;
		-moz-border-radius: 50px;
	}
.section03 .hotel .info .btns a img {position:absolute; top:17px; right:25px;
	transition: all 0.3s ease;
	-moz-transition: all 0.3s ease; /* Firefox 4 */
	-webkit-transition: all 0.3s ease; /* Safari and Chrome */
	-o-transition: all 0.3s ease; /* Opera */
}
.section03 .hotel .info .btns a:hover img, .section03 .hotel .info .btns a:focus img{right:20px;}


/*footer*/
#footer {clear:both; padding:35px 0;}
#footer_content {width:1400px; margin:0 auto; position:relative;}
#footer_content .flogo {padding:0 0 20px 0;}
#footer_content address {font-size:15px; color:#7b7b7b; line-height:26px; letter-spacing:-0.03em;}
#footer_content address b{color:#9e095d;}
#footer_content address img {padding:0 7px;}

/*Quick Menu */
#quick_menu {position:fixed; bottom:100px;  width:45px; right:100px;
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease; /* Firefox 4 */
	-webkit-transition: all 0.5s ease; /* Safari and Chrome */
	-o-transition: all 0.5s ease; /* Opera */
}
#quick_menu a {display:block;}


/* sub */
.sub_container {width:100%;background:url('../img/sub/sub_bg.jpg') center 0 no-repeat #fff;}
.sub_container {font-family: 'Pretendard';}
#content {width: 1200px; margin:0 auto; padding:180px 0 130px;min-height:850px;}
#subtitle {font-family:'GmarketSans';padding:0 0 40px; font-size:35px; font-weight:900; color:#111;letter-spacing: -0.03em; text-align: center;}

.list_dot li::before {display:inline-block;content:"";width:4px;height:4px;background:#E72295;vertical-align: middle;border-radius: 50%;margin:0 10px 4px 0;}
.list_dot li {line-height: 30px;}

.linebox {padding: 30px;border: 1px solid #ddd;border-radius: 20px;}





/**** mobile layout *************************************************************************************************************/
@media screen and (max-width:640px) {


		
	body {min-width:280px;max-width: auto;}
	#header  {height:65px; }
	#header_content {width:auto;height:65px;}
	#header_content .logo {top:18px; left:20px;margin-left:0;}
	#header_content .logo a{display:inline-block;}
	#header_content .logo a img{height:30px;}




	#gnb {display:none;}
	.top_menu {display:none;}
	.mob_none {display:none;}

	


	/* nav */
	#top_right {display:block;float:right; margin:25PX 20PX 0 0;}
	.allmenu { position:relative;}
	#menu-icon2{
	  position: relative;
	  width: 30px;
	  height: 20px;
	  transform: rotate(0deg);
	  transition: 0.5s ease-in-out;
	  cursor: pointer;
	}
	#menu-icon2 span{
	  display: block;
	  position: absolute;
	  height: 3px;
	  width: 100%;
	  background: #fff;
	  opacity: 1;
	  left: 0;
	  transform: rotate(0deg);
	  transition: 0.25s ease-in-out;
	}
	#menu-icon2 span.short {
		width:20px;
		left:10px;
	}
	#menu-icon2 span:nth-child(1){top: 0px;}
	#menu-icon2 span:nth-child(2){top: 8px;}
	#menu-icon2 span:nth-child(3){top: 17px;}
	#menu-icon2.open span:nth-child(1) {
	  top: 6px;
	  transform: rotate(-45deg);
	}
	#menu-icon2.open span:nth-child(2) {
	  opacity: 0;    /*클릭하면 중간선이 사라집니다.*/
	}
	#menu-icon2.open span:nth-child(3) {
	  top: 6px;
	  transform: rotate(-135deg);
	  width:30px;
	  left:0;
	}

	nav {display: block; position:absolute; top:65px; right:0; width:100%; text-align:left; z-index:1100;}
	#nav {display:block;
		background: rgb(124,29,146);
		background: linear-gradient(325deg, rgba(124,29,146,1) 0%, rgba(235,38,115,0.9) 100%);}
	#nav li {position:relative;  border-bottom: 1px solid rgb(153, 20, 97);}
	#nav li a {position:relative;color:#fff; font-size:15px;font-weight:600; display:block; padding:21px 20px;line-height:15px;}
	#nav > li > ul {}
	#nav > li > ul > li {border-bottom:none; border-top:1px solid #f3e7ee;}
	#nav > li > ul > li:first-child {border-top:none;}
	#nav > li > ul > li a {color:#333; font-size:14px; background:#fff; font-weight:500;  padding:16px 20px 16px 30px;line-height:15px;}


	#mainvisual {position:relative;z-index:1; width:100%; height:400px; background:url('../img/main/mainvisual.png') center 0 no-repeat;background-size: cover;overflow: hidden;}
	#mainvisual  .main_txt {width:auto; top:0;height: 100%;padding:90px 0 0;}
	#mainvisual  .main_txt_in {width:auto;}
	#mainvisual  .main_txt_in > h2{margin:0 0 12px 0;}
	#mainvisual  .main_txt_in > h2 img{width:60%; max-width:400px;}
	#mainvisual  .main_txt_in > h3{font-size:13px; letter-spacing: 0.05em;margin:0 0 15px 0;}
	#mainvisual  .main_txt_in > .date{line-height:22px;font-size:17px; }
	#mainvisual  .main_txt_in > .date .pink{font-size:22px;}
	#mainvisual  .main_txt .ob_img {top:auto; right:0;bottom:20px;}
	#mainvisual  .main_txt .ob_img img{width:200px;}
	

	/* section01 */
	.section01 {width:auto;margin:-80px auto 0;padding:110px 20px 30px;background:url('../img/main/sec01_bg.jpg') center center no-repeat;background-size:cover;}
	.section01 .sec01_in {width:auto;}
	.section01 h3 {font-size:23px;padding:0 0 20px 0;}
	.section01 .txt{font-size:13px; line-height:20px;padding:0 0 50px 0;}
	.section01 .txt b{font-size:18px;}
	.section01 .hostbox {flex-direction:column; margin:20px 0 0 0;}
	.section01 .hostbox span.tit{ padding:5px 0; width:100px;font-size:12px;margin:0 0 22px 0 ;}
	.section01 .hostbox span.logobox {margin:0 0 30px 0;}

	.section01 .overview {margin:0 auto 50px;width:auto;}
	.section01 .overview li{margin:10px 0;align-items: flex-start;font-size:14px;line-height:20px;}
	.section01 .overview li span{display:inline-block; width:90px; height:30px; line-height: 30px; font-size:12px;margin-right:10px;}
	.section01 .overview li p{width:calc(100% - 10px);}

	.section01 .free {width:95%; max-width:400px;position:relative;top:0;padding:8px;margin:0 auto 50px;}
	.section01 .free .free_in {padding:10px;}
	.section01 .free .free_in .tit{top:-30px; left:-41px;}
	.section01 .free .free_in .tit img{width:120px;}
	.section01 .free .free_in h3{font-size: 20px; padding:15px 0 5px;background:none;}
	.section01 .free .free_in ul li {height:60px;line-height:60px;font-size:15px;padding-right:40px;}
	.section01 .free .free_in ul li .date {width:60px; height: 20px; line-height: 20px;margin:0 10px 0 0;font-size:13px;}
	.section01 .free .free_in ul li .icon {position:absolute; top:10px; right:0px;}
	.section01 .free .free_in ul li .icon img{width:35px;}


	/* section02 */
	.section02 {width:auto;height:180px; background:none;}
	.section02 .sec02_in {width:100%;height:180px; display:block;}
	.section02 .sec02_in a{background-color:#81109a;display:block;width:100%;line-height:90px;font-size:20px;padding:0 20px;}
	.section02 .sec02_in a.btn02{background-color:#ee508c;}
	.section02 .sec02_in a .cbox{ top:19px; right:35px;width:55px;height:55px;line-height: 55px;background-size:100% 100%;font-size:16px;}
	.section02 .sec02_in a .cbox .arrow {top:23px;right:-15px;}
	.section02 .sec02_in a .cbox .arrow img {width:20px;}
	.section02 .sec02_in a:hover .cbox .arrow {right:-20px;}



	/* section03 */
	.section03 .hotel {width:auto; height:auto;padding:0;display:block;}
	.section03 .hotel .img {margin-right:0;}
	.section03 .hotel .img img{width:100%;}
	.section03 .hotel .info {padding:40px 20px;}
	.section03 .hotel .info h4 {font-size:18px;}
	.section03 .hotel .info h4:after {width:90px; margin:6px 0 20px;}
	.section03 .hotel .info h3 {font-size:24px;line-height:24px; margin:0 0 20px 0;;}
	.section03 .hotel .info p {font-size: 13px; line-height: 22px; }
	.section03 .hotel .info .btns {display: block;margin:30px 0 0 ;}
	.section03 .hotel .info .btns a {display:block; width:190px; height:45px; line-height: 45px;padding:0 25px; font-size:14px; margin:0 0 10px 0;}
	
	/*footer*/
	#footer { padding:35px 20px;}
	#footer_content {width:auto; margin:0 auto; position:relative;}
	#footer_content .flogo {padding:0 0 20px 0;}
	#footer_content address {font-size:13px; line-height:20px;word-break: keep-all;}
	

	/* sub */
	.sub_container {width:100%;background:url('../img/sub/sub_bg.jpg') center 0 no-repeat #fff;background-size:100%;}
	#content {width: auto;padding:120px 20px 90px;min-height:500px;}
	#subtitle {padding:0 0 30px; font-size:28px; }





}

@media screen and (max-width:375px) { 
	#mainvisual{height:370px;}
	#mainvisual .main_txt h3{font-size: 12px;;}
	#mainvisual .main_txt .date {font-size:15px; line-height:20px;}
	#mainvisual .main_txt .date .pink {font-size:16px;}
	#mainvisual .main_txt .ob_img {bottom:30px;}
	#mainvisual .main_txt .ob_img img {width:140px;}

	.section01 h3 {font-size:20px;}
	.section01 .txt{font-size: 12px;}
	.section01 .hostbox{margin:0;}
	.section01 .hostbox span.logobox {margin: 0 0 10px 0;}
	.section01 .hostbox span.logobox img {    transform: scale(0.6);}
	.section01 .overview li {font-size:13px;line-height:17px;}
	.section01 .overview li span{height:25px; line-height: 25px; font-size:10px;}

	.section01 .free .free_in {padding:5px 10px;}
	.section01 .free .free_in .tit{top:-30px; left:-32px;}
	.section01 .free .free_in .tit img{width:90px;}
	.section01 .free .free_in h3{font-size:15px;padding:10px 0;}
	.section01 .free .free_in ul li {height:auto;line-height:18px;font-size:15px;padding:10px  38px 10px 0;}
	.section01 .free .free_in ul li .date {display:block;width:80px;margin:0 0 3px 0;}
	.section01 .free .free_in ul li .icon {position:absolute; top:20px; right:0px;}
	.section01 .free .free_in ul li .icon img{width:35px;}

	.section02 .sec02_in a {font-size:17px;}



	

}

