/* 공통 */
.admin .flex {display:flex;align-items: center;}
.admin .flex.between {justify-content: space-between;}
.admin .flex.start {display:flex; align-items: flex-start;}
.admin .flex.end {align-items: flex-end;}
.admin .font-38 {font-size: 38px; font-weight: 700;}
.admin .font-24 {font-size: 24px; font-weight: 700;}
.admin .font-21 {font-size: 21px; font-weight: 600;}
.admin .font-18 {font-size: 14px; font-weight: 500; color: #616161;}
.admin .font-12 {font-size: 12px; font-weight: 500; color: #818181; text-decoration: underline;}
.admin a.font-12 {font-size: 12px; font-weight: 500; color: #818181; text-decoration: underline;}

.admin .gray-1 {color: #111;}
.admin .gray-3 {color: #333;}
.admin .gray-6 {color: #616161;}
.admin .gray-8 {color: #818181;}
.admin .gray-a {color: #a6a6a6;}
.admin .gray-b {color: #bdbdbd;}
.admin .gray-d {color: #ddd;}
.admin .gray-e {color: #efefef;}
.admin .gray-f {color: #f8f8f8;}
.admin .white {color: #fff;}

.w80 {width:80px;}
.w100 {width:100px;}
.w120 {width:120px;}
.w140 {width:140px;}
.w180 {width:180px;}
.w230 {width:230px;}
.w280 {width:280px;}
.w370 {width:370px;}
.w460 {width:460px;}
.w600 {width:600px;}
.w800 {width:800px;}
.w1000 {width:1000px;}
.w1400 {width:1400px;}
.w1600 {width:1600px;}

.admin .wp100 {width:100% !important;}

.admin .mb5 {margin-bottom:5px !important;}
.admin .mb15 {margin-bottom:15px !important;}
.admin .mr10 {margin-right:10px !important;}
.admin .ml10 {margin-left:10px !important;}
.admin .m0 {margin:0 !important;}

.admin .hide {display:none;}
.admin .block {display:block !important;}

.admin .bd10 {border-radius: 10px !important;}
.admin .bd20 {border-radius: 20px !important;}
.admin .bd50 {border-radius: 50px !important;}

.admin .blue {color: #e72295;}
.admin .red {color: #de1414;}
.admin .green {color: #05b10b;}

/* btn */
.admin a.login {display:inline-block;width: 104px;height: 36px;line-height: 36px;background: #e72295;color: #fff;font-size: 12px;font-weight: 500;text-align: center;border-radius: 50px;}
.admin .btn_box {margin:0 auto;text-align:center;margin:20px 0 0;}
.admin .btn_box a {margin: 0 4px;}

.admin a.btn {display:inline-block;width:auto;padding: 0 20px;height: 28px;text-align: center;line-height: 26px;border-radius: 5px;font-size: 14px;}
.admin a.btn.btn01 {background: #e72295;color:#fff;transition:all 0.3s;}
.admin a.btn.btn02 {background:#a8a8a8;color:#fff;}
.admin a.btn.btn03 {background:#dd0000;color:#fff;}
.admin a.btn.btn04 {background:#07b388;color:#fff;}
.admin a.btn.hold {border: 1px solid #efefef;background: #efefef;color: #bdbdbd;}
.admin a.btn.hold:hover {border: 1px solid #efefef;background: #efefef;color: #bdbdbd;}

.admin a.backbtn { display:inline-block;height: 53px;line-height: 53px;font-size: 16px;text-align: center;border-radius: 50px;transition:all 0.3s;border: 1px solid #ddd;padding: 0 60px;color: #bdbdbd;}
.admin a.backbtn img{margin:0 0 0 10px;}
.admin a.backbtn:hover {color: #616161;border: 1px solid #a8a8a8;}

.admin a.hotel_btn {display:inline-block;width: 220px;height: 53px;line-height: 53px;font-size: 14px;text-align: center;border-radius: 50px;margin: 0 20px 0 0 ;transition:all 0.3s;}
.admin .file {display:none;}
.admin .file_btn {display:inline-block;width:auto;min-width:146px;padding: 0 38px;height: 48px;text-align: center;line-height: 48px;border: 1px solid #ddd;color: #818181;cursor: pointer;}
.admin a.tablebtn {display:inline-block;width:auto;padding: 0 10px;height: 26px;text-align: center;line-height: 26px;border-radius: 5px;font-size: 14px;background: #525252;color:#fff;transition:all 0.3s;}
.admin .plusbtn_wrap{display:flex;justify-content: space-between;}
.admin .plusbtn_wrap a {padding:0 8px;border: 1px solid #ddd;display: inline-block;border-radius: 5px;line-height: 21px;}

.admin select {border: 1px solid #ddd;height:28px;line-height:28px;font-size: 14px;color: #333;padding: 0 10px;cursor:pointer;border-radius: 5px;}
.admin input::placeholder {color: #a6a6a6;}
.admin input.input {border: 1px solid #ddd;height:28px;line-height:28px;font-size: 14px;color: #333;padding: 0 10px;display:inline-block;min-width:80px;border-radius: 5px;margin: 0 4px 0 0;}
.admin input.input.hold {background: #efefef;color: #bdbdbd;}
.admin input.input:last-child {margin:0;}
.admin input.login {border: 1px solid #818181;height:36px;line-height:36px;font-size: 12px;color: #333;padding: 0 10px;border-radius: 5px;}
.admin label.checkbox {display:flex;width:30px;height:30px;border: 1px solid #bdbdbd;border-radius: 50%;text-align:center;align-items: center;justify-content: center;cursor: pointer;}
.admin input[type="checkbox"]:checked + label.checkbox {background:#e72295;border: 1px solid #e72295;}
.admin input[type="checkbox"]:checked + label.checkbox svg {fill:#fff;}

.admin .content {padding:0 0 0 180px;}
.admin .con_area {padding:20px;}
.admin .title{padding:10px 20px;border-bottom: 1px solid #ddd;color: #111;}
.admin .title h3 {display:inline-block;font-size: 21px;font-weight: 700;}
.admin h3.title {font-size: 38px;font-weight: 700;}
.admin h3.h_title {font-size: 21px;font-weight: 700;border:none;margin:0 0 20px;}
.admin .title p {display:inline-block;font-size: 21px;font-weight: 500;color: #818181;margin: 0 0 0 30px;}

.admin .subtitle {font-size: 18px;font-weight: 700; color: #111;}
.admin .linebox {border: 1px solid #ddd;padding:10px;}

/* 공통 //E */

/* 모달 //S */
/* h4.mo_title {font-size: 21px;font-weight: 700;margin:0 0 20px;padding: 0 0 10px;border-bottom: 1px solid #ddd;;}
div.mo_title {font-size: 21px;font-weight: 700;margin:0 0 20px;padding: 0 0 10px;border-bottom: 1px solid #ddd;display:flex;justify-content: space-between;}
div.mo_title > h4{font-size: 21px;font-weight: 700;}
.mo_subtitle {font-size:18px;font-weight: 700;margin:0 0 14px;}
.modal_wrap {position:fixed;top:0;left:0;width:100%;height:100vh;overflow:hidden;background: rgba(0,0,0,0.4);z-index:999;}
.modal_wrap .modal {position:absolute;top:50%;left:50%;transform:translate(-50%, -50%); box-shadow: 5px 5px 15px rgba(0,0,0,0.1);background:#fff;padding:40px;max-height:840px;overflow-y:scroll;z-index:999;border-radius: 5px;}
.modal{ -ms-overflow-style: none; } .modal::-webkit-scrollbar{ display:none; }
.modal_wrap .modal .modal_close {position:absolute;top:42px;right:50px;cursor:pointer;}
.modal_wrap .modal .modal_close img {width: 14px;}
.modal_wrap .fileicon img {width:20px;vertical-align: middle;}
.modal_wrap .fileicon a {display:inline-block;margin:6px 0 0;} */
/* .modal_content {display:none;} */
/* 모달 //E */



/* header */
.adm_profile {text-align: center;color: #fff;padding:20px 0;}
.adm_profile p{color: #fff;margin:0 0 6px;}

.admin .gnb {position:fixed;width:180px;height:100vh;top:0;left:0;background:#353535;overflow-y:scroll;}
.admin .gnb{ -ms-overflow-style: none; } .gnb::-webkit-scrollbar{ display:none; }
.admin .gnb h1 {text-align: center;padding:20px 0;}
.admin .gnb h1 img {width:140px;}
.admin .gnb #all_gnb {display:block;height:36px;line-height:36px;color: #fff;padding:0 20px;display:block;background: #616161;cursor:pointer;}
.admin .gnb > ul > li > a {display:block;height:36px;line-height:36px;color: #fff;padding:0 20px;display:block;}
.admin .gnb > ul > li > a.on {background: #e72295;}
.admin .gnb ul li a img {width: 10px;margin:0 0 4px 5px;}
.admin .gnb .sub_2depth {display:none;background: #111;}
.admin .gnb .sub_2depth > li > a {display:block;height:38px;line-height:38px;color: #efefef;font-size: 14px;padding:0 20px;display:block;}
.admin .gnb .sub_2depth > li > a:hover, .sub_header .sub_2depth > li > a.on{background: #111;}
.admin .sub_header .sub_2depth > li > a.on{background: #01244f;}
.admin .gnb .sub_3depth {display:none;background: #222;}
.admin .gnb .sub_3depth > li > a {color: #9e9e9e;height:30px;line-height:30px;font-size: 14px;display:block;padding:0 30px;}
.admin .gnb .sub_3depth > li > a:hover, .sub_header .sub_3depth > li > a.on {color: #fff;}
.admin .gnb a {cursor:pointer;}

/* 로그인 */
.admin .login_wrap {width: 100%;height:100vh;background: #f2f2f2;padding:50px 0 0;}
.admin .login_wrap h1{text-align: center;}
.admin .login_wrap p {font-size: 21px;text-align: center;margin:20px 0;font-weight: 700;}
.admin .login_wrap h5 {margin:0 0 5px;}
.admin .login {width:600px;padding:50px;margin:0 auto;background:#fff;}
.admin .login .login_btn {margin:20px 0 0;justify-content: space-between;}
.admin .login input[type="text"], .login input[type="password"] {background:none;border-radius: 0;color: #111;width: 100%;height: 38px;font-family:inherit;}
.admin .login .input_id {margin:0 0 20px;}
.admin .login input::placeholder {color: #a8a8a8;}
.admin .adm_search {margin:0 0 40px;border-bottom: 1px solid #eee;padding:0 0 20px;display:flex;justify-content: space-between;}

.admin .table_a {border-top: 1px solid #a8a8a8;}
.admin .table_a th {font-size: 14px;background: #efefef;padding:5px;border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;}
.admin .table_a th:last-child {border-right: none;}
.admin .table_a td:last-child {border-right: none;}
.admin .table_a td {font-size: 14px;padding:5px;text-align: center;border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;}

.admin .table_b {border-top: 1px solid #ddd;}
.admin .table_b thead th {font-size: 14px;background: #efefef;padding:5px;border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;text-align: center;}
.admin .table_b tbody th {font-size: 14px;background: #efefef;padding:5px;border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;text-align: center;}
.admin .table_b tbody td:last-child {border-right: none;}
.admin .table_b tbody td {font-size: 14px;padding:5px;border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;text-align: left;}

.admin .table_bb {border-top: 1px solid #ddd;}
.admin .table_bb thead th {font-size: 14px;background: #efefef;padding:5px;border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;text-align: center;}
.admin .table_bb tbody th {font-size: 14px;background: #efefef;padding:5px;border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;text-align: center;}
.admin .table_bb tbody td:last-child {border-right: none;}
.admin .table_bb tbody td {font-size: 14px;padding:5px;border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;text-align: left;}
.admin .table_bb select, .table_bb input {font-size: 14px;font-family:'Pretendard';}

.admin .table_a td.inner_table_wrap {padding:0;}
.admin .table_a tbody td .inner_table tr:last-child th, .admin .table_a tbody td .inner_table tr:last-child td {border-bottom:none;}

/* 회원등록 */
.admin .adm_table .sign {display:flex;    justify-content: center;}
.admin .adm_table .sign .input_wrap {margin:0 0 20px;}
.admin .adm_table .sign .flex > div {margin:0 10px 0 0;}
.admin .adm_table .sign h5 {margin: 0 0 5px;}
.admin .adm_table .filebtn img {width:20px;}
.admin .adm_table .checkicon {color:#018b06;}

/* 캡차 */
.admin .table_bb tbody tr td .cap_wrap {display:flex;}
.admin .table_bb tbody tr td .cap_wrap > div {padding: 0 14px 0 0; margin:0 14px 0 0; border-right:1px solid #ddd;}
.admin .table_bb tbody tr td .cap_wrap input{height:50px;}
.admin .table_bb tbody tr td .cap_wrap span.cap_refresh a {display:flex;color:#818181;align-items: center;text-align:center;background:#f2f2f2;padding:5px 0;justify-content: center;font-size:14px;}
.admin .table_bb tbody tr td .cap_wrap span.cap_refresh svg{width:18px;}
.admin .table_bb tbody tr td .cap {vertical-align: middle;width:150px;height:50px;display:inline-block;background:#f2f2f2;}

/* 스피너 */
/* .spinner {position:fixed;top:0;left:0;width:100%;height:100vh;background:rgba(255,255,255,0.4);z-index:999;}
.spinner span {position:absolute;left:50%;top:50%;transform:translate(-50%, -50%);width:40px !important; height:40px !important;padding:0 !important;color:#e72295;}
.spinner span.error {color:#1976d2;} */

/* 404 */
/* .error_page {padding:120px 0 0;text-align:center;height:100vh;background:#f2f2f2;}
.error_page > img {width:180px;}
.error_page a.backbtn {background:#fff;}
.error_page h3 {font-size: 32px;font-weight: 700;margin: 32px 0 15px;} */

/* 공지사항 */
.admin .adm_notice .file_wrap {display:flex; align-items: center;    justify-content: center;}
.admin .adm_notice .file_wrap a{display:flex; align-items: center;margin:0 10px 0 0;}
.admin .adm_notice .file_wrap img{width:18px;}
.admin .adm_notice .viewer_wrap img{width:20px;vertical-align: middle;}


/* 에디터 */
.ql-container {min-height: 300px !important;}

.MuiPaginationItem-textPrimary.Mui-selected {background:#e72295 !important;}
.MuiPaginationItem-textPrimary.Mui-selected:hover {background:#e72295 !important;}

.admin .talk_txt {border:1px solid #ccc; height:120px; line-height:26px;font-family:'GmarketSans';vertical-align: middle;border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; width:100%;resize:none;padding:20px;font-size: 16px;}
